################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.docx
/Section 02/First Program/.vs/First Program
/Section 02/Pointers/Pointers/.vs/Pointers
/Section 02/Pointers/Pointers/Pointers/x64/Debug
/Section 02/Pointers/Pointers/x64/Debug
/Section 02/Ref Vs Ptr/SwapFunction/.vs/SwapFunction
/Section 02/Ref Vs Ptr/SwapFunction/SwapFunction/x64/Debug
/Section 02/Ref Vs Ptr/SwapFunction/x64/Debug
/Section 02/Reference/Reference/.vs/Reference
/Section 02/Reference/Reference/Reference/x64/Debug
/Section 02/Reference/Reference/x64/Debug
/Section 02/const Qualifier and Compound Types/const qualifer/.vs/const qualifer
/Section 02/const Qualifier and Compound Types/const qualifer/const qualifer/x64/Debug
/Section 02/const Qualifier and Compound Types/const qualifer/x64/Debug
/Section 02/auto/AutoKeyword/.vs/AutoKeyword
/Section 02/auto/AutoKeyword/AutoKeyword/x64/Debug
/Section 02/auto/AutoKeyword/x64/Debug
/Section 02/Range-based for/ForEach/.vs/ForEach
/Section 02/Range-based for/ForEach/ForEach/x64/Debug
/Section 02/Range-based for/ForEach/x64/Debug
